<header class="header">
  <nav class="nav">
    <a routerLink="/Home" routerLinkActive="active" class="nav-link">Home</a>
    <a routerLink="/AI" routerLinkActive="active" class="nav-link">AI Consultation</a>
    <a routerLink="/About" routerLinkActive="active" class="nav-link">About Us & You</a>
    <a routerLink="/Contact" routerLinkActive="active" class="nav-link">Contact Us</a>
  </nav>
  <div routerLink="/Home" class="logo">
    <img src="assets/images/logo.png" alt="IntelliWomb Logo" class="logo-icon">
  </div>
</header>
