.about-container {
    background-color: #2F1847;
    color: #fff;
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
  }
  
  .intro-text {
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 1.6;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns for the four cards */
    gap: 1.5rem;
    justify-items: center;
    margin-top: 2rem;
  }
  
  .info-card {
    background-color: #D9D9D9;
    color: #000000;
    padding: 1.5rem;
    border-radius: 16px;
    width: 100%;
    max-width: 260px; /* Adjust width if needed to fit within viewport */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 300px; /* Set minimum height to control card size */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-card h2 {
    color: #D67AB1;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .info-card ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
    flex-grow: 1;
  }
  
  .info-card ul li {
    margin-bottom: 0.6rem;
    line-height: 2;
  }
  
  .contact-text {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: -1%;
    font-size: 0.8rem;
    line-height: 2;
  }
  