<div class="contact-container">
    <div class="content">
      <h1>Ready to Enhance Maternal Health?</h1>
      <p>
        With IntelliWomb, we will transform maternal <br>care with the power of AI. Explore how our platform <br>can support safe and effective healthcare solutions for <br>women and expectant mothers.
      </p>
      <div class="contact-info">
        <p>Contact Info</p>
        <div class="info-item">
          <img src="assets/icons/Envelop.svg" alt="Email Icon" class="icon" />
          <span>intelliwombcc@gmail.com</span>
        </div>
        <div class="info-item">
          <img src="assets/icons/Phone.svg" alt="Phone Icon" class="icon" />
          <span>+87091002</span>
        </div>
        <div class="info-item">
          <img src="assets/icons/Location.svg" alt="Location Icon" class="icon" />
          <span>Makati, Philippines</span>
        </div>
      </div>
    </div>
  
    <div class="form-container">
      <h2>Need Specific Help?</h2>
      <p class="aaa"> Fill out the form below, and our team will be in touch.</p>
      <br>
      <form (submit)="onSubmit()">
        <label for="name">Full Name</label>
        <input id="name" type="text" placeholder="e.g., John Mapua" required />
  
        <label for="phone">Contact Number</label>
        <input id="phone" type="tel" placeholder="e.g., 091234567890" required />
  
        <label for="email">Email Address</label>
        <input id="email" type="email" placeholder="e.g., example@gmail.com" required />
  
        <label for="message">How can we assist?</label>
        <textarea id="message" rows="4" required></textarea>
  
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div>
  